<div class="row titleRowCustom itemGeneratorBorder">
    <div class="col jumbotron jumbotron-transparentCustom itemGeneratorBorder">
        <h2 class="display-4 customHeaderFontLeftTop">Try the Item Generator</h2>
    </div>
</div>
<label class="customHeaderFont h3">Bonus damage per weapon type</label>
<div class="row" *ngFor="let info of this.GetDamageTypesInfo()">
    <div class="col">
        <div><label class="customFontGreen h3">{{info}}</label></div>
    </div>
</div>

<label class="customHeaderFont h3">CC reduction per armor type</label>
<div class="row" *ngFor="let info of this.GetArmorTypesInfo()">
    <div class="col">
        <div><label class="customFontGreen h3">{{info}}</label></div>
    </div>    
</div>

<div class="row">
    <div class="itemGenerator">
        <div class="row"><div class="col"><app-DemoDropdownCustomHtml [items]="this.categories" [caption]="this.itemCategoriesCaption" (itemSelectedEventAsync)="SelectCategoryHandler($event)"></app-DemoDropdownCustomHtml></div></div>
        <div class="row"><div class="col"><app-DemoDropdownCustomHtml [items]="this.items" [caption]="this.itemTypesCaption" (itemSelectedEventAsync)="SelectTypeHandler($event)"></app-DemoDropdownCustomHtml></div></div>
        <div class="row"><div class="col"><app-DemoDropdownCustomHtml [items]="this.rarities" [caption]="this.rarityTypesCaption" (itemSelectedEventAsync)="SelectRarityHandler($event)"></app-DemoDropdownCustomHtml></div></div>
        <div class="row">
            <div class="col-2" style="cursor: pointer;">
            <a class="sizeBar" (click)="Generate($event)">
                <div class="row">
                    <div class="col-8 customFontBlue">
                        <label class="h3" for="Random" style="word-wrap:break-word"><input type="checkbox" [(ngModel)]="this.generateRandom" name="Randomize" value="Randomize"/> Random</label>
                    </div>
                    <div class="col"><img src="../../_Resources/img/selectors/OrnamentRedone.png" /></div>
                </div>
            </a>
        </div></div>
        <div class="row">
        </div>
    </div>

    <div class="itemGenerator">
        <div class="col jumbotron jumbotron-transparentCustom itemGeneratorBorder">
            <div style="width: 200%; transform: translate(-60%, 10%);" class="row text-left">
                <div class="col sizeThumbnail">
                    <label *ngIf="this.levelRequirement > this.BasicData.Level" class="customFontRed h3">Level requirement {{this.levelRequirement}}</label>
                    <label *ngIf="this.levelRequirement <= this.BasicData.Level" class="customFontGreen h3">Level requirement {{this.levelRequirement}}</label>
                    <br/>

                    <label *ngIf="this.selectedRarity.id==1" class="h3 customFontBlue"> {{" " + this.selectedType.name}} ({{this.selectedRarity.name}})</label>
                    <label *ngIf="this.selectedRarity.id==2" class="h3 customFontRed">  {{" " + this.selectedType.name}} ({{this.selectedRarity.name}})</label>
                    <label *ngIf="this.selectedRarity.id==3" class="h3 customFontGreen">{{" " + this.selectedType.name}} ({{this.selectedRarity.name}})</label>

                    <img class="thumnbnail imgThumbnail" [id]="'item-img-detail'" class="dropdownItemImg" [src]="this.GetImgSrc()" />
                </div>
            </div>
            <div style="width: 200%; transform: translate(-60%, 20%);" class="row text-left" *ngFor="let affix of this.generatedAffixes; let i = index">
                <div class="col h3 customFontRed" *ngIf="(affix.Condition != null && affix.Condition?.Condition > this.BasicData.AngelicPower && affix.Condition.ConditionPowerType == 1)">{{affix.GetAffixDescription(this.skills)}}</div>
                <div class="col h3 customFontRed" *ngIf="(affix.Condition != null && affix.Condition?.Condition > this.BasicData.DemonicPower && affix.Condition.ConditionPowerType == 2)">{{affix.GetAffixDescription(this.skills)}}</div>
                <div class="col h3 customFontRed" *ngIf="(affix.Condition != null && affix.Condition?.Condition > this.BasicData.AncestralPower && affix.Condition.ConditionPowerType == 3)">{{affix.GetAffixDescription(this.skills)}}</div>
                <div class="col h3 customFontGreen" *ngIf="(affix.Condition != null && affix.Condition?.Condition <= this.BasicData.AngelicPower && affix.Condition.ConditionPowerType == 1)">{{affix.GetAffixDescription(this.skills)}}</div>
                <div class="col h3 customFontGreen" *ngIf="(affix.Condition != null && affix.Condition?.Condition <= this.BasicData.DemonicPower && affix.Condition.ConditionPowerType == 2)">{{affix.GetAffixDescription(this.skills)}}</div>
                <div class="col h3 customFontGreen" *ngIf="(affix.Condition != null && affix.Condition?.Condition <= this.BasicData.AncestralPower && affix.Condition.ConditionPowerType == 3)">{{affix.GetAffixDescription(this.skills)}}</div>
                <div class="col h3 customFontGreen" *ngIf="affix.Condition == null">{{affix.GetAffixDescription()}}</div>
            </div>
        </div>
    </div>
</div>
