body {
    /* background-image: url("_Resources/img/background3.png"); */
    background:linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url("_Resources/img/background3.png");
    background-size: cover;
    background-repeat: no-repeat;
}

body img {
    opacity: 0.7;
}

#statsContainer {
    width:45%;
}

.sizeSmall img {
    width: 30px;
    height: auto;
}

.sizeMid img {
    height: 65px;
    width: auto;
}

.sizeBar img {
    height: 75px;
    width: 75px;
}

.sizeCrystal img {
    width: 35px;
    height: 150%;
}

.sizeThumbnail img {
    width: 75px;
    height: 125px;
}

.skillBar img {
    opacity: 1;
    cursor: pointer;
}

.ornament, .ornament img {
    opacity: 1;
    cursor: pointer;
    border-radius: 50%;
}

.yellowGlow img {
    box-shadow:  #C4E538 2px 5px 17px 5px, #C4E538 inset 2px 5px 17px 5px, #C4E538 -2px -5px 17px -5px, #C4E538 inset -2px -5px 17px -5px;
}

.yellowGlowHover:hover img {
    box-shadow:  #F79F1F 2px 5px 17px 5px, #F79F1F inset 2px 5px 17px 5px, #F79F1F -2px -5px 17px -5px, #F79F1F inset -2px -5px 17px -5px;
}

.blueGlow img {
    box-shadow:  #1289A7 2px 5px 17px 5px, #1289A7 inset 2px 5px 17px 5px, #1289A7 -2px -5px 17px -5px, #1289A7 inset -2px -5px 17px -5px;
}

.blueGlowHover:hover img {
    box-shadow:  #1289A7 2px 5px 17px 5px, #1289A7 inset 2px 5px 17px 5px, #1289A7 -2px -5px 17px -5px, #1289A7 inset -2px -5px 17px -5px;
}

.redGlow img {
    box-shadow:  #ED4C67 2px 5px 17px 5px, #ED4C67 inset 2px 5px 17px 5px, #ED4C67 -2px -5px 17px -5px, #ED4C67 inset -2px -5px 17px -5px;
}

.redGlowHover:hover img {
    box-shadow:  #ED4C67 2px 5px 17px 5px, #ED4C67 inset 2px 5px 17px 5px, #ED4C67 -2px -5px 17px -5px, #ED4C67 inset -2px -5px 17px -5px;
}

.purpleGlow img {
    box-shadow:  #6F1E51 2px 5px 17px 5px, #6F1E51 inset 2px 5px 17px 5px, #6F1E51 -2px -5px 17px -5px, #6F1E51 inset -2px -5px 17px -5px;
}

.purpleGlowHover img:hover {
    box-shadow:  #6F1E51 2px 5px 17px 5px, #6F1E51 inset 2px 5px 17px 5px, #6F1E51 -2px -5px 17px -5px, #6F1E51 inset -2px -5px 17px -5px;
}

.purpleGlowHoverActive img {
    box-shadow:  #6F1E51 -10px 20px 20px 2px inset,  #6F1E51 10px -20px 20px 2px inset;
}

.titleRowCustom, .statsRowCustom {
    margin-top: 3em;
    margin-bottom: 3em;
}

.jumbotron-transparentCustom {
    background: none;
    text-align: center;
    height: 10vh;
    vertical-align: top;
    padding-top: 25px;
    margin-bottom: 10px;
}

.customHeaderFont {
    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
    text-shadow: #5758BB 2px 0 10px;
    opacity: 1;
}

.customHeaderFontLeftTop {
    position: absolute;
    left:15px;
    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
    text-shadow: #5758BB 2px 0 10px;
    opacity: 1;
}

.customFontGreen {
    font-family: 'Bebas Neue', cursive;
    font-weight: 900;
    text-shadow: #009432 2px 0 10px;
    text-shadow: #12CBC4;
    opacity: 1;
}

.customFontGreenTooltip {
    font-family: 'Bebas Neue', cursive;
    font-weight: 900;
    text-shadow: #12CBC4 2px 0 10px;
    text-shadow: #A3CB38;
    line-height: 85%;
    top:3px;
}

.customFontRed {
    font-family: 'Bebas Neue', cursive;
    font-weight: 900;
    text-shadow: #ED4C67 2px 0 10px;
    text-shadow: #5758BB;
    opacity: 1;
}

.customFontRedTooltip {
    font-family: 'Bebas Neue', cursive;
    font-weight: 900;
    text-shadow: #ED4C67 2px 0 10px;
    text-shadow: #5758BB;
    line-height: 85%;
    opacity: 1;
}

.customFontSkillsHoverable :hover {
    font-family: 'Bebas Neue', cursive;
    font-weight: 900;
    text-shadow: #1289A7 2px 5px 20px 5px;
    text-shadow: #5758BB;
    cursor: pointer;
    box-shadow:  #1289A7 2px 5px 20px 5px, #1289A7 inset 2px 5px 20px 5px, #1289A7 -2px -5px 20px -5px, #1289A7 inset -2px -5px 20px -5px;
    border-radius: 50%;
}

.customFontBlue {
    text-shadow: #5758BB 2px 0 10px;
    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
    opacity: 1;    
}

.customFontBlueTooltip {
    font-family: 'Bebas Neue', cursive;
    font-weight: 900;
    text-shadow: #ED4C67 2px 0 10px;
    text-shadow: #5758BB;
    line-height: 85%;
    opacity: 1;
}

input[type=checkbox] {
    transform: scale(2.5);
}

.col4Custom {
    text-align: center;
}

.col45Custom {
    width: 45px;
    height: 45px;
}

.marginlessTop {
    /* margin-top: -10%; */
    line-height:80%
}

/* .rowPowersCustom {
} */

.rowGiftsCustom {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

/* .rowSkillsCustom {
} */

.marginBottomCustom {
    margin-bottom: 7vh;
}
.marginTopCustom {
    margin-top: 7vh;
}

.centeredCustom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapHolder {
    list-style: none;
}

.wrapHolder li {
    float: left;
}

.wrap{
	display:table;
	width:125%;
	height:45%;
    max-width:125%;
    margin:auto;
    position:absolute;
    top: -35vh;
    left: -45vh;
    align-items: center;
    align-self: center;
    transform: scale(0.55, 0.45);
    /* vertical-align: top; */
}

.wrapperLeft {
	display:table;
    transform: translate(10%, -25%);
	width:62%;
    max-width:62%;
    margin:auto;
    align-items: center;
    align-self: center;
}

.wrapperRight {
    display:table;
    transform: translate(80%, -50%);
	width:25%;
    max-width:25%;
    margin:auto;
    align-items: center;
    align-self: center;
}

.itemGenerator {
    width: 30vw;
    height: 65vh;
    /* transform: translate(100%, -110%); */
    border-image: url("_Resources/img/borders/border.png") 25 30 10 20 repeat stretch;
    /* border-image-slice: 20px;
    border-image-width: 20px; */
}

.armorDisplayHolder {
    list-style: none;
    width: 650px;
    height: 100px;
    transform: translate(122%, -915%) scale(0.97, 1);
}

.armorDisplayHolder li {
    padding-right: 3rem;
}

.armorDisplayHolder label {
    transform:translate(10%, -200%);
}

.attacksDisplayHolder {
    width: 740px;
    transform: translate(96%, 90%);
    list-style: none;
    /* float: left; */
}
.attacksDisplayHolder2 {
    width: 740px;
    transform: translate(96%, 50%);
    list-style: none;
    /* float: left; */
}
.resistancesDisplayHolder {
    width: 770px;
    transform: translate(92%, 70%);
    list-style: none;
    /* float: left; */
}

.basicStatsDisplayHolder {
    width:520px;
    /*transform:translate(162%,-750%);*/
    bottom: calc(180% + 10px);
    left: calc(72% + 5px);
    position: absolute;
}

.powerStatsDisplayHolder {
    width:520px;
    transform:translate(162%,-1360%);
}

.iconTop {
    transform: translate(0, -20px);
}

.inventoryHolder {
    width: 480px;
    height: 520px;
    background-image: url("_Resources/img/Inventory2.png");
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(175%, -150%);
    opacity: 0.7;
    position:relative;
}

.btnGroupCustom, .btnGroupCustom ul {
    background-color: rgba(27,20,100, 0.5);
    width: auto;
    cursor:pointer;
    color: #D6A2E8;
}

.btnCustom, .btnCustom:hover, .btnCustom:active {
    display: inline-block;
    /* background-color: rgba(27,20,100, 0.5); */
    background-color: rgb(142, 138, 175);
    width: auto;
    cursor:pointer;
    /* color: #D6A2E8; */
    color: #2A222C;
    font-size: 77%;
}

.menuItemCustom {
    background-color: rgb(142, 138, 175); /* rgba(214,162,232, 0.5); */
    cursor:pointer;
    color: #2A222C; /*rgba(27,20,100, 0.5);*/ /*#D6A2E8;*/ /*R: 142 G: 138 B: 175*//*#8E8AAF*/
    /* box-shadow:  #6F1E51 2px 5px 20px 5px, #6F1E51 inset 2px 5px 20px 5px, #6F1E51 -2px -5px 20px -5px, #6F1E51 inset -2px -5px 20px -5px; */
    text-decoration: none;
    display:inline-block;
    white-space: nowrap;
    width: 100%;
    padding-right: 10px;
    overflow: hidden;    
}

.noselect {
-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}

.skillBarContainer {
    box-shadow:  #6F1E51 2px 5px 20px 5px, #6F1E51 inset 2px 5px 20px 5px, #6F1E51 -2px -5px 20px -5px, #6F1E51 inset -2px -5px 20px -5px;
}

.menuItemCustom:hover {
    box-shadow:  #6F1E51 2px 5px 20px 5px, #6F1E51 inset 2px 5px 20px 5px, #6F1E51 -2px -5px 20px -5px, #6F1E51 inset -2px -5px 20px -5px;
}

.menuItemCustom a {
    text-decoration: none;
}

.skillPicker {
    background-color: rgba(27,20,100, 0.5);
    width: auto;
    cursor:pointer;
}
.skillPicker option, .skillPicker li {
    cursor:pointer;
}

.skillPicker option img, .skillPicker img {
    height: 45px;
    width: 45px;
    box-shadow:  #6F1E51 2px 5px 20px 5px, #6F1E51 inset 2px 5px 20px 5px, #6F1E51 -2px -5px 20px -5px, #6F1E51 inset -2px -5px 20px -5px;
}

.dropdownItemImg {
    height: 45px;
    width: 45px;
    margin: 8px;
}

.menuCustom li {
    width: 100%;
}

.menuCustom li a {
    white-space:nowrap;
    width: auto;
}

#powersContainer {
    transform: translate(20%, 0);
}

#powersContainer #powerDetails {
    transform: translate(-20%, 0);
}

#statsContainer {
    transform: scale(140%, 0);
}

/* first step: remove fixed width from .dropdown ul li a

second step: add the css li li {width:100%;}

third step: add .mainNav li a {white-space:nowrap;} */
.bootsItem {
    position:absolute;
    opacity:1.0; /*transform: translate(-70%, 220%);*/
    top: 175%;
    right: 120%;
}
.chestItem {
    position:absolute;
    opacity:1.0; /*transform: translate(-60%, -70%);*/
    top: 25%;
    right: 85%;
}
.glovesItem {
    position:absolute;
    opacity:1.0; /*transform: translate(40%, -160%);*/
    top: 25%;
    left: 40%;
}
.helmItem {
    position:absolute;
    width:75px;height:75px; opacity:1.0; /*transform: translate(-135%, -650%);*/
    bottom: 95%;
    right: 110%;
}
.pantsItem {
    position:absolute;
    opacity:1.0; /*transform: translate(-15%, -170%);*/
    top: 145%;
    right: 60%;
}
.weaponItem {
    position:absolute;
    opacity:1.0; /*transform: translate(-235%, 30%);*/
    top: 30%;
    right: 175%;
}
.weaponWithArmorItem, .weaponWithWeaponItem, .weaponWithArmorWithWeaponItem, .weaponWithJewelryItem {
    position:absolute;
    width: 100px;
    opacity:1.0; /*transform: translate(-280%, -420%);*/
    top: 25%;
    right: 165%;
}
.amuletItem {
    position:absolute;
    width:45px; height:45px; opacity:1.0; /*transform: translate(70%, -480%);*/
    right: 70%;
    top: -10%;
}
.amuletWithWeaponItem, .amuletWithArmorItem, .amuletWithArmorWithWeaponItem {
    position:absolute;
    width:45px; height:45px; opacity:1.0; /*transform: translate(650%, -825%);*/
    right: 70%;
    top: -10%;
}

.ring1Item {
    position:absolute;
    width:45px; height:45px; opacity:1.0; /*transform: translate(-450%, 450%);*/
    right: 190%;
    top: 110%;
}
.ring1WithWeaponItem, .ring1WithWeaponItem, .ring1WithArmorItem, .ring1WithArmorWithWeaponItem {
    position:absolute;
    width:45px; height:45px; opacity:1.0; /*transform: translate(130%, -455%);*/
    right: 190%;
    top: 110%;
}
.ring2Item {
    position:absolute;
    width:45px; height:45px; opacity:1.0; /*transform: translate(200%, -200%);*/
    left: 40%;
    top: 110%;
}
.ring2WithWeaponItem, .ring2WithArmorItem, .ring2WithArmorWithWeaponItem {
    position:absolute;
    width:45px; height:45px; opacity:1.0; /*transform: translate(800%, -550%);*/
    left: 40%;
    top: 110%;
}
.itemTooltip {
    width: 30rem;
}
