/* body {
    background:linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url("_Resources/img/backgrounds/background3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
} */

.bg-image {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
  }

body img {
    opacity: 0.7;
}

#statsContainer {
    width:45%;
}

.sizeSmall img {
    width: 30px;
    height: auto;
}

.sizeMid img {
    height: 65px;
    width: auto;
}

.sizeBar img {
    height: 75px;
    width: 75px;
}

.sizeCrystal img {
    width: 35px;
    height: 150%;
}

.sizeThumbnail img {
    width: 75px;
    height: 125px;
}

.skillBar img {
    opacity: 1;
    cursor: pointer;
}

.ornament, .ornament img {
    opacity: 1;
    cursor: pointer;
    border-radius: 50%;
}

.yellowGlow img {
    box-shadow:  #C4E538 2px 5px 17px 5px, #C4E538 inset 2px 5px 17px 5px, #C4E538 -2px -5px 17px -5px, #C4E538 inset -2px -5px 17px -5px;
}

.yellowGlowHover:hover img {
    box-shadow:  #F79F1F 2px 5px 17px 5px, #F79F1F inset 2px 5px 17px 5px, #F79F1F -2px -5px 17px -5px, #F79F1F inset -2px -5px 17px -5px;
}

.blueGlow img {
    box-shadow:  #1289A7 2px 5px 17px 5px, #1289A7 inset 2px 5px 17px 5px, #1289A7 -2px -5px 17px -5px, #1289A7 inset -2px -5px 17px -5px;
}

.blueGlowHover:hover img {
    box-shadow:  #1289A7 2px 5px 17px 5px, #1289A7 inset 2px 5px 17px 5px, #1289A7 -2px -5px 17px -5px, #1289A7 inset -2px -5px 17px -5px;
}

.redGlow img {
    box-shadow:  #ED4C67 2px 5px 17px 5px, #ED4C67 inset 2px 5px 17px 5px, #ED4C67 -2px -5px 17px -5px, #ED4C67 inset -2px -5px 17px -5px;
}

.redGlowHover:hover img {
    box-shadow:  #ED4C67 2px 5px 17px 5px, #ED4C67 inset 2px 5px 17px 5px, #ED4C67 -2px -5px 17px -5px, #ED4C67 inset -2px -5px 17px -5px;
}

.purpleGlow img {
    box-shadow:  #6F1E51 2px 5px 17px 5px, #6F1E51 inset 2px 5px 17px 5px, #6F1E51 -2px -5px 17px -5px, #6F1E51 inset -2px -5px 17px -5px;
}

.purpleGlowHover img:hover {
    box-shadow:  #6F1E51 2px 5px 17px 5px, #6F1E51 inset 2px 5px 17px 5px, #6F1E51 -2px -5px 17px -5px, #6F1E51 inset -2px -5px 17px -5px;
}

.purpleGlowHoverActive img {
    box-shadow:  #6F1E51 -10px 20px 20px 2px inset,  #6F1E51 10px -20px 20px 2px inset;
}

.titleRowCustom, .statsRowCustom {
    margin-top: 3em;
    margin-bottom: 3em;
    position: absolute;
    top: 25%;
    width: 800px;
}

.jumbotron-transparentCustom {
    background: none;
    text-align: center;
    height: 10vh;
    vertical-align: top;
    padding-top: 25px;
    margin-bottom: 10px;
}

.customHeaderFont {
    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
    text-shadow: #5758BB 2px 0 10px;
    opacity: 1;
}

.customHeaderFontLeftTop {
    position: absolute;
    left:15px;
    top:-500%;
    width:200%;
    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
    text-shadow: #5758BB 2px 0 10px;
    opacity: 1;
}

.customHeaderFontRightTop {
    position: absolute;
    right: 40%;
    top: -480%;
    width: 200%;
    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
    text-shadow: #5758BB 2px 0 10px;
    opacity: 1;
}

.customFontGreen {
    font-family: 'Bebas Neue', cursive;
    font-weight: 900;
    text-shadow: #009432 2px 0 10px;
    text-shadow: #12CBC4;
    opacity: 1;
}

.customFontGreenTooltip {
    font-family: 'Bebas Neue', cursive;
    font-weight: 900;
    text-shadow: #12CBC4 2px 0 10px;
    text-shadow: #A3CB38;
    line-height: 85%;
    top:3px;
}

.customFontRed {
    font-family: 'Bebas Neue', cursive;
    font-weight: 900;
    text-shadow: #ED4C67 2px 0 10px;
    text-shadow: #5758BB;
    opacity: 1;
}

.customFontRedTooltip {
    font-family: 'Bebas Neue', cursive;
    font-weight: 900;
    text-shadow: #ED4C67 2px 0 10px;
    text-shadow: #5758BB;
    line-height: 85%;
    opacity: 1;
}

.customFontSkillsHoverable :hover {
    font-family: 'Bebas Neue', cursive;
    font-weight: 900;
    text-shadow: #1289A7 2px 5px 20px 5px;
    text-shadow: #5758BB;
    cursor: pointer;
    box-shadow:  #1289A7 2px 5px 20px 5px, #1289A7 inset 2px 5px 20px 5px, #1289A7 -2px -5px 20px -5px, #1289A7 inset -2px -5px 20px -5px;
    border-radius: 50%;
}

.customFontBlue {
    text-shadow: #5758BB 2px 0 10px;
    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
    opacity: 1;    
}

.customFontBlueTooltip {
    font-family: 'Bebas Neue', cursive;
    font-weight: 900;
    text-shadow: #ED4C67 2px 0 10px;
    text-shadow: #5758BB;
    line-height: 85%;
    opacity: 1;
}

input[type=checkbox] {
    transform: scale(2.5);
}

.col4Custom {
    text-align: center;
}

.col45Custom {
    width: 45px;
    height: 45px;
}

.marginlessTop {
    /* margin-top: -10%; */
    line-height:80%
}

/* .rowPowersCustom {
} */

.rowGiftsCustom {
    padding-top: 5vh;
    padding-bottom: 5vh;
    position: absolute;
    top: 40%;
    width: 150%;
}

.rowSkillsCustom {
    width:600px;
    position:relative;
    left:6%;
    top:25%;
}

.marginBottomCustom {
    margin-bottom: 7vh;
}
.marginTopCustom {
    margin-top: 7vh;
}

.centeredCustom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapHolder {
    list-style: none;
    position: absolute;
    top: 275%;
    left:5%;
}

.wrapHolder li {
    float: left;
}

.wrap{
	display:table;
	/* width:125%;
	height:45%;
    max-width:125%; */
    margin:auto;
    position:absolute;
    top:225px;
    /* top: -35vh;
    left: -45vh; */
    align-items: center;
    align-self: center;
    transform: scale(0.55, 0.45);
    /* vertical-align: top; */
}

.wrapperLeft {
    width: 1000px;
    margin: auto;
    align-items: center;
    align-self: center;
}

@media only screen and (min-width: 900px) {
    .wrapperRight {
        display:table;
        width:25%;
        max-width:25%;
        margin:auto;
        align-items: center;
        align-self: center;
        position: absolute;
        left: 240%;
        top: -35%;
    }
}
@media only screen and (max-width: 900px) {
    .wrapperRight {
        display:table;
        width:25%;
        max-width:25%;
        margin:auto;
        align-items: center;
        align-self: center;
        position: absolute;
        left: 56%;
        top: 1440px;
    }
}

.skillPickerContainer {
    position:absolute;
    height: 200px;
    width: 500px;
}

.skillPickerContainer > .row {
    position:relative;
    top:-50%;
}

.skillPickerTierContainer {
    position:relative;
    top:65%;
    width: 500px;
}

.skillDetailsContainer {
    position:relative;
    width:1200px;
    left:-35%;
    top:50%;
}

.skillDetailsContainer row {
    width:150px;
    position: relative;
    top:45%;
}

.itemGenerator {
    width: 800px;
    height: 800px;
    position: absolute;
    right: -0%;
    top: -250px;
    border-image: url("_Resources/img/borders/border.png") 25 30 10 20 repeat stretch;
}

.armorDisplayHolder {
    list-style: none;
    width: 650px;
    height: 100px;
    /* transform: translate(122%, -915%) scale(0.97, 1); */
    position: absolute;
    bottom: calc(115% + 25px);
    left: calc(64% + 15px);
}

.armorDisplayHolder li {
    padding-right: 1rem;
}

.attacksDisplayHolder {
    width: 740px;
    /* transform: translate(96%, 90%); */
    list-style: none;
    position: absolute;
    bottom: calc(145% + 25px);
    left: calc(72% + 15px);
}
.attacksDisplayHolder2 {
    width: 740px;
    /* transform: translate(96%, 75%); */
    position: relative;
    position: absolute;
    bottom: calc(130% + 25px);
    left: calc(72% + 15px);
}
.resistancesDisplayHolder {
    width: 770px;
    /* transform: translate(92%, 70%); */
    position: relative;
    bottom: calc(10% + 25px);
    left: calc(72% + 15px);
    list-style: none;
}

.basicStatsDisplayHolder {
    width:480px;
    bottom: calc(165% + 25px);
    left: calc(72% + 15px);
    position: absolute;
}

.powerStatsDisplayHolder {
    width:480px;
    bottom: calc(185% + 25px);
    left: calc(72% + 15px);
    position: absolute;
}

.iconTop {
    transform: translate(0, -20px);
}

.inventoryHolder {
    width: 480px;
    height: 520px;
    background-image: url("_Resources/img/inventory/Inventory2.png");
    background-size: cover;
    background-repeat: no-repeat;
    bottom: calc(80% + 25px);
    left: calc(72% + 15px);
    /* transform: translate(175%, calc(-150% - 20px)); */
    opacity: 0.7;
    position:relative;
}

.inventoryHolder2 {
    width: 480px;
    height: 520px;
    background-image: url("_Resources/img/inventory/Inventory2.png");
    background-size: cover;
    background-repeat: no-repeat;
    bottom: calc(80% + 25px);
    left: calc(72% + 15px);
    /* transform: translate(175%, calc(-150% - 20px)); */
    opacity: 0.7;
    position:relative;
}

@media only screen and (min-width: 750px) {
    .inventoryAreaHolder {
        /* transform: translate(0, -8%); */
        position: absolute;
        left: 40%;
        top: 290px;
    }
}
@media only screen and (max-width: 750px) {
    .inventoryAreaHolder {
        /* transform: translate(0, -8%); */
        position: absolute;
        left: -15%;
        top: 1420px;
    }
}

.verticalButtonTop {
    vertical-align: top;
}

.btnGroupCustom, .btnGroupCustom ul {
    background-color: rgba(27,20,100, 0.5);
    width: auto;
    cursor:pointer;
    color: #D6A2E8;
}

.btnCustom, .btnCustom:hover, .btnCustom:active {
    display: inline-block;
    /* background-color: rgba(27,20,100, 0.5); */
    background-color: rgb(142, 138, 175);
    width: auto;
    cursor:pointer;
    /* color: #D6A2E8; */
    color: #2A222C;
    font-size: 77%;
}

.menuItemCustom {
    background-color: rgb(142, 138, 175); /* rgba(214,162,232, 0.5); */
    cursor:pointer;
    color: #2A222C; /*rgba(27,20,100, 0.5);*/ /*#D6A2E8;*/ /*R: 142 G: 138 B: 175*//*#8E8AAF*/
    /* box-shadow:  #6F1E51 2px 5px 20px 5px, #6F1E51 inset 2px 5px 20px 5px, #6F1E51 -2px -5px 20px -5px, #6F1E51 inset -2px -5px 20px -5px; */
    text-decoration: none;
    display:inline-block;
    white-space: nowrap;
    width: 100%;
    padding-right: 10px;
    overflow: hidden;    
}

.noselect {
-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}

.skillBarContainer {
    box-shadow:  #6F1E51 2px 5px 20px 5px, #6F1E51 inset 2px 5px 20px 5px, #6F1E51 -2px -5px 20px -5px, #6F1E51 inset -2px -5px 20px -5px;
    position: absolute;
    width: 660px;
    left:500%;
    z-index: 999;
}

.menuItemCustom:hover {
    box-shadow:  #6F1E51 2px 5px 20px 5px, #6F1E51 inset 2px 5px 20px 5px, #6F1E51 -2px -5px 20px -5px, #6F1E51 inset -2px -5px 20px -5px;
}

.menuItemCustom a {
    text-decoration: none;
}

.skillPicker {
    background-color: rgba(27,20,100, 0.5);
    width: auto;
    cursor:pointer;
}
.skillPicker option, .skillPicker li {
    cursor:pointer;
}

.skillPicker option img, .skillPicker img {
    height: 45px;
    width: 45px;
    box-shadow:  #6F1E51 2px 5px 20px 5px, #6F1E51 inset 2px 5px 20px 5px, #6F1E51 -2px -5px 20px -5px, #6F1E51 inset -2px -5px 20px -5px;
}

.dropdownItemImg {
    height: 45px;
    width: 45px;
    margin: 8px;
}

.menuCustom li {
    width: 100%;
}

.menuCustom li a {
    white-space:nowrap;
    width: auto;
}

#powersContainer {
    position: absolute;
    left: 120%;
    top: -350px;
}

#powerDetails {
    position: relative;
    left: 24%;
    width: 150%;
    padding-right: 20rem;
}

.powerAffixDetail {
    width: 200%;
}

#giftsSummary {
    position:relative;
    left:620px;
    top:-85px;
}

#statsContainer {
    /* transform: scale(140%, 0); */
    width: 165%;
    position: absolute;
    top: -350px;
    height: 500px;
}

/* first step: remove fixed width from .dropdown ul li a

second step: add the css li li {width:100%;}

third step: add .mainNav li a {white-space:nowrap;} */

.bootsItem, .bootsItem10, .bootsItem100, .bootsItem1000 {
    position:absolute;
    opacity:1.0;
    top: 200%;
    right: 55%;
}
.chestItem, .chestItem10, .chestItem100, .chestItem1000 {
    position:absolute;
    opacity:1.0;
    top: 55%;
    right: 40%;
}
.glovesItem, .glovesItem10, .glovesItem100, .glovesItem1000 {
    position:absolute;
    opacity:1.0;
    top: 55%;
    left: 75%;
}
.helmItem, .helmItem10, .helmItem100, .helmItem1000 {
    position:absolute;
    width:75px;height:75px; opacity:1.0;
    bottom: 60%;
    right: 45%;
}
.pantsItem, .pantsItem10, .pantsItem100, .pantsItem1000 {
    position:absolute;
    opacity:1.0;
    top: 170%;
    right: 25%;
}
.weaponItem, .weaponItem10, .weaponItem100, .weaponItem1000 {
    position:absolute;
    opacity:1.0;
    top: 60%;
    right: 75%;
}
.amuletItem, .amuletItem10, .amuletItem100, .amuletItem1000 {
    position:absolute;
    width:45px; height:45px; opacity:1.0;
    right: 30%;
    top: 30%;
}

.ring1Item, .ring1Item10, .ring1Item100, .ring1Item1000 {
    position:absolute;
    width:45px; height:45px; opacity:1.0;
    right: 80%;
    top: 140%;
}
.ring2Item, .ring2Item10, .ring2Item100, .ring2Item1000 {
    position:absolute;
    width:45px; height:45px; opacity:1.0;
    left: 75%;
    top: 140%;
}
.itemTooltip {
    width: 30rem;
}
