<ul class="wrapHolder">
  <li class="wrapperLeft">
    <div class="row titleRowCustom">
      <div class="col jumbotron jumbotron-transparentCustom">
          <h2 class="display-4 customHeaderFontLeftTop text-left">
            <app-CustomCompareTooltip width="65px" classLabel="customHeaderFont h1" height="65px" contentLabel="Greeting wanderer"
            text="Greetings wanderer, the journey of our fanfic project starts here. Much of information/statistic values are 'hidden' inside a tooltip like this one.<br/><br/>Start with a quick hover over the Class label, might also want to give a look at the 'Powers' or 'Gifts' for a fresh start.<br/><br/>However, keep in mind that this is a fanfic demo, therefore having a lot of 'wishful thinking' in the skill/affixes design"></app-CustomCompareTooltip>
            Our Mother blessed you with
            <app-CustomCompareTooltip width="45px" classLabel="customHeaderFont h1" height="45px" contentLabel="Powers" text="Powers are your 'main attribute' character stats. There are 3 Powers per level gained as well as 3 types:
            <br/>
            <br/> Angelic (increases HP, Regen, Lifesteal, gains extra self-power on affixes, and even works as a natural Stamina regeneration)
            <br/>
            <br/> Demonic (increases Resource, Regen, and debuff-targets, weakens opponents and returns stamina per hit allowing you to 'cheat your way' into higher endurance)
            <br/>
            <br/> Ancestral (increases Stamina, damage per hit, trigger frequency (lifesteal, manareturn, critical, e.t.c.). This power also sunders target's stamina down, rendering them staggered much more often)"></app-CustomCompareTooltip>
            and
            <app-CustomCompareTooltip width="45px" classLabel="customHeaderFont h1" height="45px" contentLabel="Gifts" text="Gifts are the 'Skill powerup' points. There are 2 per level gained and they can be used to empower skill directly by increasing it's level or 'investing' into one of it's A/D/A component-affixes
            <br/>
            <br/> All skills will require 2 Gift points to power up after level 5 whilest Tier4 skills will require 2 Gift points to power up from the get-go (i.e. lvl1)
            <br/>
            <br/> In addition (future work in progress), there will be a 'Transfer remaining Gifts to Powers' functionality (thus, potentially sacrificing the 'spellcast' aspect of your character into making it more of a primary-stat-based one. (Be careful, this process will be irreversible most of the time)"></app-CustomCompareTooltip>
          </h2>
      </div>
    </div>
    <div class="row statsRowCustom">
      <div class="col" id="statsContainer">
      <!--TODO: See into the following problem: -->
      <!-- IDK WHY BUT MOUSEOVER AND MOUSEOUT BEHAVE REVERSE FOR THIS ONE -->
        <app-stats  [(model)]="model" [initialized]="initializeChildren" [previewModel]="levelUpCalculations" (levelUpEmitter)="LevelUpHandler($event)" (levelUpPreviewEmitter)="LevelUpPreviewHandler($event)"></app-stats>
      </div>
      <!-- </div>
      <div class="row rowPowersCustom"> -->
      <div class="col mb-4" id="powersContainer">
        <app-powers [(model)]="model" [initialized]="initializeChildren" [previewModel]="powerUpCalculations" (powerUpEmitter)="PowerUpHandler($event)" (powerUpPreviewEmitter)="PowerUpPreviewHandler($event)"></app-powers>
      </div>
    </div>
    <!-- <div class="row rowGiftsCustom" id="giftsContainer">
      <div class="col-1 customHeaderFont h2">SKILLS:</div>
      <app-skillBar [(equippedModel)]="this.skillEquipModel" (selectEquipEmitter)="SkillSelectHandler($event)"></app-skillBar>
    </div> -->
    <div class="row skillPickerContainer">
      <div class="row" *ngFor="let skillTier of this.skillTiers">
        <app-skillPicker [(model)]="skillTier" (skillEquippedEmitter)="EquipSkillHandler($event)"></app-skillPicker>
      </div>
    </div>
    <div class="row">
      <div class="col inventoryAreaHolder">
        <app-inventory [inventoryItem]="this.inventoryData" [basicCharStats]="model.BasicData"></app-inventory>
      </div>
    </div>
  </li>
  <li class="wrapperRight" style="z-index: 999;">
      <app-item-generator [skills]="this.allSkills" [BasicData]="this.model.BasicData" (EquipItemEmiter)="SetInventoryDataHandler($event)"></app-item-generator>
  </li>
</ul>
