<ul class="wrapHolder">
  <li class="wrapperLeft">
    <div class="row titleRowCustom">
      <div class="col jumbotron jumbotron-transparentCustom">
          <h2 class="display-4 customHeaderFontLeftTop text-left">Our Mother blessed you with powers (and gifts)</h2>
      </div>
    </div>
    <div class="row statsRowCustom">
      <div class="col" id="statsContainer">
      <!--TODO: See into the following problem: -->
      <!-- IDK WHY BUT MOUSEOVER AND MOUSEOUT BEHAVE REVERSE FOR THIS ONE -->
        <app-stats  [(model)]="model" [initialized]="initializeChildren" [previewModel]="levelUpCalculations" (levelUpEmitter)="LevelUpHandler($event)" (levelUpPreviewEmitter)="LevelUpPreviewHandler($event)"></app-stats>
      </div>
      <!-- </div>
      <div class="row rowPowersCustom"> -->
      <div class="col mb-4" id="powersContainer">
        <app-powers [(model)]="model" [initialized]="initializeChildren" [previewModel]="powerUpCalculations" (powerUpEmitter)="PowerUpHandler($event)" (powerUpPreviewEmitter)="PowerUpPreviewHandler($event)"></app-powers>
      </div>
    </div>
    <div class="row rowGiftsCustom" id="giftsContainer">
      <div class="col-1 customHeaderFont h2">SKILLS:</div>
      <app-skillBar [(equippedModel)]="this.skillEquipModel" (selectEquipEmitter)="SkillSelectHandler($event)"></app-skillBar>
    </div>
    <div *ngFor="let skillTier of this.skillTiers">
      <app-skillPicker [(model)]="skillTier" (skillEquippedEmitter)="EquipSkillHandler($event)"></app-skillPicker>
    </div>
    <div class="row">
      <div class="col">
        <app-inventory [inventoryItem]="this.inventoryData" [basicChatStats]="model.BasicData"></app-inventory>
      </div>
    </div>
  </li>
  <li class="wrapperRight" style="z-index: 999;">
      <app-item-generator [skills]="this.allSkills" [BasicData]="this.model.BasicData" (EquipItemEmiter)="SetInventoryDataHandler($event)"></app-item-generator>
  </li>
</ul>
