<div *ngIf="!this.previewChanges">
  <div class="row customFontSkills">
    <!--TODO: See into the following problem: -->
    <!-- IDK WHY BUT MOUSEOVER AND MOUSEOUT BEHAVE REVERSE FOR THIS ONE -->
    <div class="col-3 h1">LEVEL: {{this.model.BasicData.Level}} <a tooltip="+1" class="sizeMid ornament blueGlow redGlowHover" (mouseover)="LevelUpPreview()" (mouseout)="LevelUpPreviewCancel()" (click)="LevelUp(1)" (updateHomeFromStats)="LevelUp($event)"><img src="../_Resources/img/selectors/skull-1.png" alt="+1"></a> </div>
    <div class="col-3 h1">CLASS TYPE: {{this.model.BasicData.ClassTypeStr}}</div>
    <div class="col-6 h1">Basic DAMAGE:
      <label class="h3">{{this.model.BasicData.MinDamage + this.model.BasicData.MinDamageBonus}} - {{this.model.BasicData.MaxDamage + this.model.BasicData.MaxDamageBonus}}</label>
    </div>
  </div>

  <div class="row customFontSkills">
    <div class="col h4">LIFE:</div>
    <div class="col h5">Amount: {{this.model.AngelicPowers.LifeAmount}}</div>
    <div class="col h5">Regen: {{this.model.AngelicPowers.LifeRegenRate}}/sec</div>
    <div class="col h5">Return: {{this.model.AngelicPowers.LifeReturnChance}} % for {{  this.model.AngelicPowers.LifePerHit}}</div>
  </div>

  <div class="row customFontSkills">
    <div class="col h4">RESOURCE:</div>
    <div class="col h5">Amount: {{this.model.DemonicPowers.ResourceAmount}}</div>
    <div class="col h5">Regen: {{this.model.DemonicPowers.ResourceRegen}}/sec</div>
    <div class="col h5">Return: {{this.model.DemonicPowers.ResourceReturnChance}} % for {{ this.model.DemonicPowers.ResourceReturn }}</div>
  </div>

  <div class="row customFontSkills">
    <div class="col h4">STAMINA:</div>
    <div class="col-3 h5">Amount: {{this.model.AncestralPowers.StaminaAmount}}</div>
    <div class="col-3 h5">Regen: {{this.model.AngelicPowers.StaminaRegenRate}}/sec</div>
    <div class="h5">
      Return: {{this.model.DemonicPowers.StaminaReturn}}
      <label class="mr-4">Sunder: {{this.model.AncestralPowers.StaminaSunder}}</label>
    </div>
  </div>
</div>







<div *ngIf="!!this.previewChanges">
  <div class="row customFontSkills">
    <!--TODO: See into the following problem: -->
    <!-- IDK WHY BUT MOUSEOVER AND MOUSEOUT BEHAVE REVERSE FOR THIS ONE -->
    <div class="col-3 h1">LEVEL: {{this.model.BasicData.Level}} <a tooltip="+1" class="sizeMid ornament blueGlow redGlowHover" (mouseover)="LevelUpPreview($event)" (mouseout)="LevelUpPreviewCancel($event)" (click)="LevelUp(1)" (updateHomeFromStats)="LevelUp($event)"><img src="../_Resources/img/selectors/skull-1.png" alt="+1"></a></div>
    <div class="col-3 h1">CLASS TYPE: {{this.model.BasicData.ClassTypeStr}}</div>
    <div class="col-6 h1">Basic DAMAGE:
      ({{this.model.BasicData.MinDamage + this.model.BasicData.MinDamageBonus}} -
      {{this.model.BasicData.MaxDamage + this.model.BasicData.MaxDamageBonus}})
      <label
        *ngIf="this.previewChanges.BasicData.MinDamage || this.previewChanges.BasicData.MinDamageBonus || this.previewChanges.BasicData.MaxDamage || this.previewChanges.BasicData.MaxDamageBonus">
        + ({{(this.previewChanges.BasicData.MinDamage + this.previewChanges.BasicData.MinDamageBonus) | number:'1.2-2'}}
        -
        {{(this.previewChanges.BasicData.MaxDamage + this.previewChanges.BasicData.MaxDamageBonus) | number:'1.2-2'}})
      </label>
    </div>
  </div>

  <div class="row customFontSkills">
    <div class="col h4">LIFE:</div>
    <div class="col h5">Amount:
      {{this.model.AngelicPowers.LifeAmount}}
      <label *ngIf="this.previewChanges.AngelicPowers.LifeAmount">
        +({{this.previewChanges.AngelicPowers.LifeAmount | number:'1.2-2'}})
      </label>
    </div>
    <div class="col h5">Regen:
      {{this.model.AngelicPowers.LifeRegenRate}}
      <label *ngIf="this.previewChanges.AngelicPowers.LifeRegenRate">
        +({{this.previewChanges.AngelicPowers.LifeRegenRate | number:'1.2-2'}})</label>/sec
    </div>
    <div class="col h5">Return:
      {{this.model.AngelicPowers.LifeReturnChance}}
      <label *ngIf="this.previewChanges.AngelicPowers.LifeReturnChance">
        +({{this.previewChanges.AngelicPowers.LifeReturnChance | number:'1.2-2'}})</label>
      % for {{  this.model.AngelicPowers.LifePerHit}}
      <label *ngIf="this.previewChanges.AngelicPowers.LifePerHit">
        +({{  this.previewChanges.AngelicPowers.LifePerHit | number:'1.2-2'}})</label>
    </div>
  </div>

  <div class="row customFontSkills">
    <div class="col h4">RESOURCE:</div>
    <div class="col h5">Amount:
      {{this.model.DemonicPowers.ResourceAmount}}
      <label *ngIf="this.previewChanges.DemonicPowers.ResourceAmount">
        +({{this.previewChanges.DemonicPowers.ResourceAmount | number:'1.2-2'}})
      </label>
    </div>
    <div class="col h5">Regen:
      {{this.model.DemonicPowers.ResourceRegen}}
      <label *ngIf="this.previewChanges.DemonicPowers.ResourceRegen">
        +({{this.previewChanges.DemonicPowers.ResourceRegen | number:'1.2-2'}})</label>
      /sec
    </div>
    <div class="col h5">Return:
      {{this.model.DemonicPowers.ResourceReturnChance}}
      <label *ngIf="this.previewChanges.DemonicPowers.ResourceReturnChance">
        +({{this.previewChanges.DemonicPowers.ResourceReturnChance | number:'1.2-2'}})</label>
      % for
      {{ this.model.DemonicPowers.ResourceReturn }}
      <label *ngIf="this.previewChanges.DemonicPowers.ResourceReturn">
        +({{ this.previewChanges.DemonicPowers.ResourceReturn | number:'1.2-2'}})</label>
    </div>
  </div>

  <div class="row customFontSkills">
    <div class="col-3 h4">STAMINA:</div>
    <div class="col-3 h5">Amount:
      {{this.model.AncestralPowers.StaminaAmount}}
      <label *ngIf="this.previewChanges.AncestralPowers.StaminaAmount">
        +({{this.previewChanges.AncestralPowers.StaminaAmount | number:'1.2-2'}})</label>
    </div>
    <div class="col-3 h5">Regen:
      {{this.model.AngelicPowers.StaminaRegenRate}}
      <label *ngIf="this.previewChanges.AngelicPowers.StaminaRegenRate">
        +({{this.previewChanges.AngelicPowers.StaminaRegenRate | number:'1.2-2'}})</label>
      /sec
    </div>
    <div class="col-3 h5">Return:
      {{this.model.DemonicPowers.StaminaReturn}}
      <label *ngIf="this.previewChanges.DemonicPowers.StaminaReturn">
        +({{this.previewChanges.DemonicPowers.StaminaReturn | number:'1.2-2'}})</label>
        Sunder:
      {{" " + this.model.AncestralPowers.StaminaSunder}}
      <label *ngIf="this.previewChanges.AncestralPowers.StaminaSunder">
        +({{this.previewChanges.AncestralPowers.StaminaSunder | number:'1.2-2'}})</label>
    </div>
  </div>
</div >
